body {
    overflow: hidden;
}

h1{
    margin-top: 3rem;
    text-align: center;
    font-family: Dancing Script;
}

h2 {
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.content {
    overflow-y: scroll;
    height: 100vh;
    padding: 20px;
    background-color: #eefbfb;
    color: #36454f;
    text-align: center;
}

.article {
    text-align: initial;
    font-size: 14pt;
    margin: 2rem 17rem;
    line-height: 2.33rem;
    font-family: Noto Sans, sans serif;
    letter-spacing: 2px;
}

.lastParagraph {
    margin-bottom: 3rem;
}

figure {
    display: block;
    margin: auto;

}

.mapImage {
width: 800px;
}

.portrait {
    height: 600px
}