html, body {
    height: 100%;
    overflow: hidden;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
}


.container {
    height: 100vh;
    display: grid;
    background-color: slategray;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
}

.q1 {
    grid-column: 1;
    grid-row: 1;
    background-color: blue;
    background: url("\\Images\\earthquakeDamage.jpg");
    background-size: cover;
}

figure {
    position: relative;
}

figcaption {
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    top: 27rem;
    right: 5rem;
    text-align: right;
}


.q2 {
    grid-column: 2;
    grid-row: 1;
    background-color: purple;
    background: url("\\Images\\seismograph.jpg");
    background-size: cover;
}
.q3 {
    grid-column: 1;
    grid-row: 2;
    background-color: brown;
    background: url("\\Images\\seismicZone.jpg");
    background-size: cover;
}

.q4 {
    grid-column: 2;
    grid-row: 2;
    background-color: coral;
    background: url("\\Images\\canadianEarthquake.jpg");
    background-size: cover;
}

.description {
    font-family: 'Julius Sans One', sans-serif;
    position: absolute;
    background-color: #7e8896;
    font-weight: bolder;
    text-align: center;
    padding: 15px;
    padding-bottom: 25px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 120px;

    left: 10rem;
    right: 10rem;
    width: 500px;
    height: 250px;
    border-radius: 20px;
    box-shadow: 15px 15px 20px;
  }

  button {
    font-family: 'Julius Sans One', sans-serif;
    opacity: .99;
    background-color: #CE7C1C;
    color:#c2c6cc;
    border: solid;
    border-width: 3px;
    border-color: black;
    letter-spacing: 4px;
    font-size: 18pt;
    font-weight: 900;
    width: 150px;
    height: 40px;
    margin-top: 15px;
    
    box-shadow: 5px 5px 15px black;
  }