.topbar table{
    position: fixed;
    width: 80%;
    height: 6%;
 
    margin-top: 5px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #CE7C1C;
    border-collapse: collapse;
    float: left;
    box-shadow: 7px 7px 15px;
    z-index: 2;
  }
  
  .topbar th{
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bolder;
    letter-spacing: 0.25rem;
    text-align: center;
    float: center;
    vertical-align: middle;
  }
  
  .active-th {
    background-color: #CE7C1C;
  }
  
  .active-a {
    color: #182b4a;
  }
  .homeButton {
    padding-left: 32px;
  }
  
  .topbar th a{
    display: block;
    height: 15px;
    padding: 25px 15px;
    padding-bottom: 30px;
    text-decoration: none;
    color: #c2c6cc;
  }
  
  .topbar th a:hover{
    color: #182b4a;
  }
  
  .topbar th:hover{
    background-color: #CE7C1C;
    cursor: pointer;
  }